// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.main-nav {
    color:white;
    @media screen and (min-width: map-get($breakpoints, large)) {
      width: 100%;
      position: fixed;
      top: 0;
      z-index:5;
    }
}

.margin-correction {
  @media screen and (min-width: map-get($breakpoints, large)) {
    margin-top: calcRem(90px);
  }
}

.margin-correction-bottom {
  @media screen and (min-width: map-get($breakpoints, large)) {
    margin-bottom: calcRem(50px);
  }
}

.site-nav img {
    max-height:calcRem(50px);
    padding-left: 2rem;
}


.site-menu {
    a {
      color: $dark-grey;
      text-transform: uppercase;
      font-family: $text-font-hero;
      font-weight: 600;
      font-size: 1rem;
    }
}

.main-logo {
  a {
    display: flex;
    height: calcRem(90px);
    align-items: center;
  }
}

.party, .site-menu {
  display: block;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  a {
    height: calcRem(90px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px solid transparent;
    &:hover {
      border-top: 6px solid rgba(0,0,0,0.3);
      text-decoration: none;
    }
  }
}

.parties-nav {
  margin: 0;
  padding: 0;
}

.dropdown {

}

.site-nav {
    background-color:$light-grey;
}

.party-nav {
    margin: 0;
    padding: 0;
}

.party-box {
    text-align:center;
    a {
      color: $white-font;
      text-transform: uppercase;
      font-family: $text-font-hero;
      font-weight: 600;
      font-size: 1rem;
    }
}

.conservative {
    background-color:$mid-blue;
}

.liberal {
    background-color:$mid-red;
}

.green {
    background-color:$mid-green;
}

.new-democratic {
    background-color:$mid-orange;
}
