// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.main-nav {
    color:white;
    @media screen and (min-width: map-get($breakpoints, large)) {
      height: 8vh;
    }
}

.site-nav img {
    max-height:calcRem(50px);
    padding-left: 2rem;
}


#site-menu {
  position: relative;
  i {
    color: $dark-grey;
    font-size: 1.8rem;
    position: absolute;
    top: 9px;
    left: 14px;
  }
}

.site-menu {
  a {
    font-family: $text-font-hero;
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
}

.main-logo {
  a {
    display: flex;
    height: 8vh;
    align-items: center;
  }
  @media screen and (max-height: map-get($breakpoints, medium)) {
    img {
      width: 10rem;
      padding: 0.4rem;
    }
  }
}

.party, .site-menu {
  display: block;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  a {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px solid transparent;
    &:hover {
      border-top: 6px solid rgba(0,0,0,0.3);
      text-decoration: none;
    }
  }
}

.parties-nav {
  margin: 0;
  padding: 0;
}

.dropdown {

}

.site-nav {
    background-color:$light-grey;
}

.party-nav {
    margin: 0;
    padding: 0;
}

.party-box {
    text-align:center;
    a {
      color: $white-font;
      text-transform: uppercase;
      font-family: $text-font-hero;
      font-weight: 600;
      font-size: 1rem;
    }
}

.conservative {
    background-color:$mid-blue;
}

.liberal {
    background-color:$mid-red;
}

.green {
    background-color:$mid-green;
}

.new-democratic {
    background-color:$mid-orange;
}
