// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/*cooper hewitt bold*/
@font-face {
    font-family: 'cooper hewitt';
    src: url('../font/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../font/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
/*cooper hewitt medium*/

@font-face {
    font-family: 'cooper hewitt';
    src: url('../font/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../font/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/*cooper hewitt light*/
@font-face {
    font-family: 'cooper hewitt';
    src: url('../font/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('../font/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
