.comp-title {

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'cooper hewitt';
    font-weight: 900;
    @media screen and (min-width: map-get($breakpoints,large)) {
      padding: 6rem 0;
    }
  }
  &.comp-dark {
    background-color: $dark-grey;
    h2 {
      color: $light-grey;
    }
  }
  &.comp-light {
    background-color: $light-grey;
    h2 {
      color: $dark-grey;
    }

  }
}

.comp-topic, .comp-selectbox {
  height: 15rem
}


.comp-topic {
  padding-bottom: 5rem;
  padding-top: 5rem;
  h2 {
    color: $light-grey;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  background-image: url('../img/taxes.jpg');
  background-size: cover;
}


/************ Start Select Box  *******************/

.comp-selectbox {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-grey;
}

div.selectBox {
  position: relative;
  display: inline-block;
  cursor: default;
  text-align: left;
  line-height: 50px;
  clear: both;
}

span.selected {
   width: 270px;
   text-indent: 10px;
   border: 1px solid rgb(233, 233, 233);
   border-right: none;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   background: #f6f6f6;
   overflow: hidden;
   font-family: Arial, sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: bold;
   background: #ffffff;
   color: $dark-grey;
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
   background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
span.selectArrow {
  width: 50px;
  border: 1px solid #60abf8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-size: 12px;
  user-select: none;
  background: $dark-grey;
  color: $light-grey !important;
}
span.selectArrow,span.selected {
  position: relative;
  float: left;
  height: 50px;
  z-index: 1;
}
ul.selectOptions {
  position: absolute;
  top: 46px;
  left: 0;
  width: 320px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  background: rgb(250, 250, 250);
  padding-top: 2px;
  display: none;
  margin: 0;
  list-style: none inside none;
  padding-left: 0;
}
li.selectOption {
  display: block;
  line-height: 20px;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: arial, sans-serif;
  list-style: none;
  margin: 0;
  color: $dark-grey;
}
li.selectOption:hover {
  background: $mid-grey;
}

/************ End Select Box  *******************/

/** Topics Menu **/
.comp-img-box {
  display: flex;
  align-content: stretch;
  .comp-img {
    background-size: cover;
    background-position: center center;
    flex-basis: 11.11%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #fff;
    position: relative;
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $dark-grey;
      opacity: 1;

    }
    h5 {
      z-index: 1;
      text-transform: uppercase;
      color: inherit;
      text-align: center;
      font-family: 'cooper hewitt';
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }
  }

}


/** Parties Box **/

#comp-conservative {
  .comp-header {
    background-color: $mid-blue;
    span {
      color: $mid-blue;
    }
  }
  .comp-body {
    background-color: $light-blue;
  }
  .comp-icons {
    span {
      background-color: $mid-blue;
      &:last-child {
        background-color: transparent;
        border: 1px solid $mid-blue;
        i {
          color: $mid-blue;
        }
      }
    }
    i {
      color: $dark-blue;
    }
  }
}

#comp-green {
  .comp-header {
    background-color: $mid-green;
    span {
      color: $mid-green;
    }
  }
  .comp-body {
    background-color: $light-green;
  }
  .comp-icons {
    span {
      background-color: $mid-green;
      &:last-child {
        background-color: transparent;
        border: 1px solid $mid-green;
        i {
          color: $mid-green;
        }
      }
    }
    i {
      color: $dark-green;
    }
  }
}

#comp-democratic {
  .comp-header {
    background-color: $mid-orange;
    span {
      color: $mid-orange;
    }
  }
  .comp-body {
    background-color: $light-orange;
  }
  .comp-icons {
    span {
      background-color: $mid-orange;
      &:last-child {
        background-color: transparent;
        border: 1px solid $mid-orange;
        i {
          color: $mid-orange;
        }
      }
    }
    i {
      color: $dark-orange;
    }
  }
}

#comp-liberal {
  .comp-header {
    background-color: $mid-red;
    span {
      color: $mid-red;
    }
  }
  .comp-body {
    background-color: $light-red;
  }
  .comp-icons {
    span {
      background-color: $mid-red;
      &:last-child {
        background-color: transparent;
        border: 1px solid $mid-red;
        i {
          color: $mid-red;
        }
      }
    }
    i {
      color: $dark-red;
    }
  }
}

#voted-liberal {
  background-color: $dark-red !important;
  i {
    color: $mid-red !important;
  }
}


.comp-vote {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 2.1;
  background-color: #fff;
  display: inline-block;
  margin-left: 1.5rem;
}

.comp-header {
  padding: 2rem 0;
  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    font-size: 1.4rem;
  }
}

.comp-body {
  padding: 0.8rem;
}

.comp-text {
  color: $dark-grey;
  font-size: calcRem(16px);
  line-height: 2;
  @media screen and (min-width: map-get($breakpoints, large)) {
    height: 200px;
    overflow: auto;
  }
}

.comp-icons {
  display: block;
  text-align: center;
  cursor: pointer;
  span {
    margin: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    line-height: 3;
    display: inline-block;
    text-align: center;
    i {
      font-size: 2rem;
    }
  }
}

/** End of Parties Box **/

/** Scroll Bars **/

.comp-text::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.comp-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* Handle */
.comp-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.8);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.comp-text::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(68, 68, 68, 0.4);
}
