// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

//structure testing

//

.colors {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}

.page-header h1 {
    color:$white;
    text-transform:uppercase;
    padding:calcRem(40px);
}

// Selectors to add the overlay images
//hol

@include breakpoint(medium up) {

    [data-party] {
        background-color:transparent;
        background-size:cover;
        background-position:center;
        height:500px;
    }

    [data-party="conservative"] {
        background-image:url("./../img/party-leaders-home/cons-homepage.jpg");
    }

    [data-party="liberal"] {
        background-image:url("./../img/party-leaders-home/liberal-homepage.jpg");
    }

    [data-party="green"] {
        background-image:url("./../img/party-leaders-home/green-homepage.jpg");
    }

    [data-party="newdemocratic"] {
        background-image:url("./../img/party-leaders-home/ndp-homepage.jpg");
    }

}

@include breakpoint(medium down) {
    [data-party]>p{
        font-family: $text-font-hero;
        color: $white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
    }

    [data-party="conservative"]>p:before {
        content:"conservative";
    }

    [data-party="liberal"]>p:before {
        content:"liberal";
    }

    [data-party="green"]>p:before {
        content:"green";
    }

    [data-party="newdemocratic"]>p:before {
        content:"new democratic";
    }
}

.p-img {
    cursor:pointer;
}

.party-name {
        background-color:white;
    }

[data-party] {
    padding:calcRem(40px) 0;
    text-align:center;
}

.page-header {
    position:absolute;
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}

.parties {
    position:absolute;
    width:100%;
    height:100%;
    background-color:white;
}

// vide-bg css

#video-bg {
    z-index:-1;
    position:absolute;
    width:100%;
    background-color:black;
    height:100%;
    overflow:hidden;
}

#video-bg video {
    height:100%;
}

@include breakpoint (medium down){

    #video-bg {
        position:relative;
        margin-bottom:calcRem(-10px);
    }

    #video-bg  video {
        width:100%;
        height:100%;
    }

    .parties {
        position:relative;
        bottom:0;
    }
}

@include breakpoint (large up) {
    #video-bg {
        width:50%;
        top:0;
        left:0;
    }

    .parties {
        width:50%;
        top:0;
        right:0;
        z-index:-1;
    }

    .party {
        height:100%;
    }

    .h-footer{
        position:fixed;
        bottom:0;
        width:100%;
    }
}

@include breakpoint(medium only){
    .party {
        position:relative;
        padding:0;
    }

    .party p {
        position:absolute;
        bottom:0;
        margin:0;
        width:100%;
        padding:calcRem(40px);
    }

    #video-bg {
        height:calcRem(600px);
    }

    #video-bg video {
        height:100%;
        width:auto;
    }
}

@include breakpoint (small only) {
    .page-header h1{
       font-size:2.5rem;
    }

    #video-bg {
        height:calcRem(500px);
    }

    #video-bg video {
        height:100%;
        width:auto;
    }
}
