// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

//structure testing
* {
   outline: 1px gainsboro solid;
}
//

.colors {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}

.window-h {
    height:100vh;
}

.conservative {
    background-color:$mid-blue;
}

.liberal {
    background-color:$mid-red;
}

.green {
    background-color:$mid-green;
}

.new-democratic {
    background-color:$mid-orange;
}

// Selectors to add the overlay images

[data-party="conservative"] {
    
}

[data-party="liberal"] {
    
}

[data-party="green"] {
    
}

[data-party="new democratic"] {
    
}
