// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.colors {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}
.colors2 {
  background-color: blue;
}
