/************ party page  *******************/

@include breakpoint(small only) {

}
.left-column-height{height:80.5vh;}
.party-logo{
  display:block;
  margin-top:30px;
  width:18rem;
  margin-left:auto;
  margin-right:auto;
}
.representative {
  h2, p{
    color:#000;
  }
  h2{
  color:$mid-blue;
  font-weight:600;
  text-align:center;
  }
}
.representative-party{
  text-align: right;
  img {
    width:17rem;
    margin-right: 2rem;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    text-align: center;
    img {
      margin: 0;
    }
  }
}
.rep-bio {padding-right:7rem;}
.representative-info {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    p {
      text-align: center;
    }
  }
}

.party-info{
  text-align:center;
  padding: 2rem 3rem;
  p {
    max-width: 40rem;
    margin: 0 auto;
  }
}

.party-mps {
  text-align: center;
  h2 {
    color: $mid-blue;
    font-weight: 600;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    padding: 2rem 3rem;
  }
  @media screen and (min-width: map-get($breakpoints, medium)) {
    padding: 2rem 3rem;
  }
}

.mp-btn {
  margin-left:auto;
  margin-right:auto;
  border: solid 1px $dark-grey;
  background-color:$white-font;
  color: $dark-grey;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 22px;
  z-index:20;
}
.party-background{
  background-color:$mid-blue;
  height:40vh;
  position:absolute;
  right:0;

}
// modal box for mp
#overlayDiv { position:fixed; top:0px; left:0px; background-color:rgba(0,0,0,0.6); width:100%; height:100%; z-index:10; display:none; }
#modalDiv { position:fixed; width:400px; height:280px; background-color:blue; left:50%; margin-left:-200px; top:50%; margin-top:-140px; z-index:11;}
// ___________________________________
.proposal-list-height{
  margin-top:150px;
  text-align: center;
  padding:3.5rem;
}
.proposal {
    position:relative;
    background-size:cover;
    height:40vh;
  h1{
  color:$mid-blue;
  text-align: center;
  }
  .proposal-list {
    color: #fff;
    text-transform:uppercase;
    font-size:16px;
  }
}
.proposal-info{
  position:absolute;
  height:50vh;
  background:$mid-red;
  color:$white-font;
  padding:3rem;
  width:100%;
}
.show-and-hide{
  z-index:25;
  cursor: pointer;
  margin-top:50px;
}

/** Topics Menu **/
.over-lay-liberal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:$mid-red;
  opacity: 0.3;
  z-index:1;
}
.over-lay-conservative {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index:1;
  background-color:$mid-blue;
}
.over-lay-green {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index:1;
  background-color:$mid-green;
}
.over-lay-ndp {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index:1;
  background-color:$mid-orange;
}
.proposal-large {
  position:relative;
  z-index:2;
}
