/** Select Box **/
.whos-selectbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calcRem(300px);
}

.whos-topic {
  background-image: url('../img/ab.jpg');
  background-position: center;
  background-size: cover;
  height: calcRem(300px);
  padding-top: 3rem;
  h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
  }
}

.whos-container {
  padding: 3rem;
  h2,p {
    text-transform: uppercase;
    color: $dark-grey;
    text-align: right;
    margin: 0;
    line-height: 1.2;
  }
  h2 {
    font-size: 2.5rem;
  }
}
